snippet programming_hdr
  /*
   * @copyright
   * Copyright 2024 Adam-Al-Rahman
   *
   * @question: ${1:name}
   * @brief:
   * @source:
   * @tags: ["topics/${2:topic}", "algorithms/", "methods/"]
   * @status: unsolved
   */


